@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700&family=Noto+Sans+KR:wght@300;400;500;600;700;800&display=swap');
:root {
  --main-color:#B82734;
  --point-color:#907354
}

body { font-family: 'Noto Sans KR','맑은 고딕', 'Malgun Gothic', sans-serif; }
.inner { 
  width:1180px; 
  margin:auto;
  position: relative; }
ul, ol, .inner:after { 
  display:block; 
  content:""; 
  clear:both; }


header {
  position: fixed; 
  top:0; 
  left:0; 
  width:100%; 
  height:100px; 
  background: #343436;
  z-index:100
}

header h1 { 
  position: absolute; 
  left:0; 
  top:28px;
}
header h1 a {
  display: block;
  width:118px; 
  height:44px;
  background-image: url('../img/logo_white_type_02.png');
  font-size: 0;
}

#gnb { 
  padding-left:200px;  
}

#gnb > ul > li { 
  float:left; 
  margin:0 15px; }

#gnb > ul > li > a {
  position: relative;
  display: block;
  color:#fff; 
  /*
  line-height: 100px;
  font-family: 'Barlow Condensed','맑은 고딕', 'Malgun Gothic',  sans-serif;
  font-size: 20px;
  font-weight: 600; */
  font: 600 20px / 100px 'Barlow Condensed','맑은 고딕', 'Malgun Gothic';
  letter-spacing: 2.5px;
} 
/* #gnb > ul > li > a:after {
  content:""; 
  position: absolute; 
  top:70px; 
  left:50%; 
  transform: translateX(-50%);
  width:0; 
  height: 3px;
  background:var(--main-color);
  transition: 0.3s;
} 

#gnb > ul > li:hover > a:after { 
  width:100%; }*/
 .bar {
  position: absolute;
  top: 70px;
  background:var(--main-color);
  width: 0px;
  height: 3px;
  transition: 0.5s ease-out;
 } 
#gnb > ul > li:hover .sub {
  opacity: 100%;
  visibility: visible;}
/*  visibility: display와 다른점 - 영역을 차지하고 있음.transition이 적용 됨
    opacity와 다른점 - a작동등 엘리먼트가 작동 안함*/

.sub {
  opacity: 0;
  visibility: hidden;
  position: absolute; 
  background: rgba(0,0,0,0.6);
  padding:15px 20px; 
  margin-left:-20px;
  transition: 0.5s;
}
.sub > li { 
  margin: 15px;}
.sub > li > a {
  color:#fff; 
  font-size: 15px;
}

.global-menu {
  position: absolute; 
  right:0; 
  top:38px; 
}
.global-menu li { 
  float:left; 
  margin-left: 20px; }
.global-menu a { 
  color:#999; 
  font-size: 14px; }

li.join {}
.join a { background:#666; 
  color:#fff;
  padding:4px 18px}

  /****** main ******/
.main-product {
  padding: 150px 0 100px;
}
.main-product > div.inner {

}
.product-img {
  width: 310px;
  padding-top: 100px;
}
.product-link {
  float: right;
}
.product-text {
  position: absolute;
  top: 100px;
  left: 400px;
  width: 400px;
}
.en-name {
  font: 600 80px / 1.1 'Barlow Condensed','맑은 고딕', 'Malgun Gothic';
  letter-spacing: 1.3px;
}
.ko-name {
  font-size: 25px;
  padding: 5px 0 35px;
  font-weight: bold;
}
.info {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #666;
}

.benefit {
  text-align: center;
}
.benefit-tomato {
  margin: -170px 0 0 180px;
 
  width: 375px;
  height: 442px;
  background: url(../img/main_benefit_obj_01.jpg);
}
.benefit-contents {
  height: 520px;
  background: url(../img/main_benefit_visual.jpg);
  margin-top: -145px;
  color: #fff;
}
.benefit-contents h3 {
  font: 600 55px  'Barlow Condensed','맑은 고딕', 'Malgun Gothic';
  letter-spacing: 2.5px;
  padding: 90px 0 10px;
}
.benefit-contents .h3-info {
  opacity: 0.7;
}
.benefit ul {
 padding: 70px 45px 0;
}
.benefit li {
  float: left;
  width: 33.33%;
}
.benefit li a {}
.benefit li span {
  display: block;
}
.benefit .icon {}
.benefit .icon-name {
  font: 600 28px  'Barlow Condensed','맑은 고딕', 'Malgun Gothic';
  margin-top: 35px;
}
.benefit .icon-info {
  opacity: 0.7;
  font-size: 14px;
  margin-top: 15px;
  line-height: 1.5;
}
.reward {
  margin-top: 70px;
  padding-left: 380px;
  
  box-sizing: border-box;
}
.reward-tittle {
  position: absolute;
  top: 8px;
  left: 0;
  border: 5px solid #000;
  width: 280px;
  height: 260px;
}
.txt-data {
  width: 230px;
  height: 250px;
  background: #fff;
  margin: -14px 0 0 -5px;
  
}
.txt-data h3 {
  font: 600 32px  'Barlow Condensed','맑은 고딕', 'Malgun Gothic';
  letter-spacing: 2px;
}
.txt-data h3 em {
  font-size: 55px;
  letter-spacing: 3px;
}
.txt-data .info {
  padding: 20px 0;
  font-size: 16px;
  
  
}
.txt-data .btn-more a {
  display: block;
  width: 100px;
  text-align: center;
  line-height: 32px;
  background: #222;
  color: #fff;
  font-size: 13px;
}
.reward ol {
  background: #666;
}
.reward ol li {
  float: left;
  width: 33.33%;
  
  margin-bottom: 35px;
}
.reward ol li em {
  color: var(--point-color);
}
.reward .reward-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.reward .reward-info {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
  line-height: 1.6;
}

.big-menu {
  padding: 100px 0 50px;
}
.big-menu-list {}
.big-menu-list li {
  float: left;
  width: 33.33%;
  height: 160px;
  position: relative;
}

.big-menu-list li:nth-child(1){background: #907354;}
.big-menu-list li:nth-child(2){background:#434343 ;}
.big-menu-list li:nth-child(3){background: var(--main-color);}

.big-menu-list li a {
  display: block;
  padding: 26px;
  height: 160px;
  box-sizing: border-box;
}
.big-menu .tittle {
  font: 600 28px  'Barlow Condensed','맑은 고딕', 'Malgun Gothic';
  color: #fff;
  letter-spacing: 2px;
}
.big-menu .txt {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
}
.big-menu .arrow {
  position: absolute;
  bottom: 35px;
  width: 40px;
  height: 4px;
  border-bottom: 1px solid #fff;
  transition: 0.3s ease-in;
}
.big-menu .arrow::after {
  position: absolute;
  right: 0;
  content: '';
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  transform: rotate(-45deg);
}
.big-menu .icon {
  position: absolute;
  top: 50px;
  right: 86px;
  transition: 0.3s ease-in;
}
.big-menu-list li a:hover .arrow {
  width: 60px;
}
.big-menu-list li a:hover .icon {
  top: 35px;
}

.brand {
  border-top: 1px solid #c5c5c5;
  padding: 20px 0 25px;
}
.brand-list{
 
}
.brand li {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 16.66%;
  text-align: center;
}
.brand li::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: '';
  width: 1px;
  height: 26px;
  background: #c5c5c5;
}
.brand li:first-child::before {
  display: none;
}
.brand a {

}

footer {   
  background: #343436;
  color: #d8d8d8;
  font-size: 13px;
  height: 300px;
}
.foot-menu {
  
  position: relative;
}
.left-menu {
  display: flex;
  padding-top: 30px;
}
.left-menu > li {
  width: 90px;
  height: 30px;
  border: 1px solid #8b8b8b;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}
.left-menu > li.fam {
  width: 125px;
  margin-right: 10px;
  margin-bottom: 30px;
}
.right-menu {
  display: flex;
  justify-content: flex-end;    
  position: absolute;
  top: 30px;
  right: 0;
  
}
.right-menu > li {
  border-right: 1px solid #8b8b8b ;
  margin-left: 10px;
  padding-right: 10px;
  line-height: 10px;
}
.right-menu > li.map {
  border-right: none;
}
.right-menu > li > a {
  font-weight: 800; 
}

.footer-text {
  font-weight: 700;
  line-height: 20px;
  
}
.footer-text > p > a {
  color: #fff;
  vertical-align:top;
  border-bottom: 1px solid #fff;
}
.footer-text > p > strong {
  font-size: 18px;
  vertical-align: top;
}
.footer-text1 {
  font-weight: 500;
  color: #a09f9f;
}

.sns-menu > li > a {
  display: flex;
  float: right;
  margin: 10px 10px 0 0;
}
#main-banner { 
  width:100%; 
  min-width:1180px;
  height:900px;
  overflow: hidden; 
  margin-top: 100px;
  
}


#main-banner .slider {
  position: relative ; 
  width: 1920px; 
  left:50%; 
  transform:translate(-50%)
}


